<?xml version='1.0' encoding='utf-8'?>
<widget id="cn.com.phicommunity.phicommunity"
	version="1.0.0"
	android-versionCode="1"
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:cdv="http://cordova.apache.org/ns/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">
	<name>PhiCommunity</name>
	<description>A community driven project to make a game like phigros.</description>
	<author email="hanhan.233@qq.com" href="https://www.han-han.xyz">
		HanHan233
	</author>
	<content src="tapToStart/index.html" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<!-- preference -->
	<preference name="GradlePluginKotlinEnabled" value="true" />
	<preference name="GradlePluginKotlinCodeStyle" value="official" />
	<preference name="GradlePluginKotlinVersion" value="1.6.10" />
	<preference name="android-minSdkVersion" value="21" />
	<preference name="android-targetSdkVersion" value="30" />
	<preference name="ShowTitle" value="false" />
    <preference name="SetFullscreen" value="true" />
    <preference name="Fullscreen" value="true" />
	<preference name="orientation" value="landscape" />

	<!-- Android configure -->
	<platform name="android">
		<edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest">
			<manifest xmlns:tools="http://schemas.android.com/tools" />
		</edit-config>
		<edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
			<application
				android:allowBackup="false"
				android:usesCleartextTraffic="true"
				tools:ignore="DataExtractionRules">
				<activity android:exported="true" />
			</application>
		</edit-config>
		<edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application/activity">
			<activity android:exported="true" />
		</edit-config>
		<!-- <icon background="assets/AppIcon/IconBackground.xml" density="anydpi" foreground="assets/AppIcon/IconForeground.xml" src="assets/AppIcon/LegacyIcon.xml"/> -->
		<icon background="assets/AppIcon/IconBackground.xml" density="hdpi" foreground="assets/AppIcon/IconForeground.xml" src="assets/AppIcon/LegacyIcon.xml"/>
		<icon background="assets/AppIcon/IconBackground.xml" density="ldpi" foreground="assets/AppIcon/IconForeground.xml" src="assets/AppIcon/LegacyIcon.xml"/>
		<icon background="assets/AppIcon/IconBackground.xml" density="mdpi" foreground="assets/AppIcon/IconForeground.xml" src="assets/AppIcon/LegacyIcon.xml"/>
		<icon background="assets/AppIcon/IconBackground.xml" density="xhdpi" foreground="assets/AppIcon/IconForeground.xml" src="assets/AppIcon/LegacyIcon.xml"/>
		<icon background="assets/AppIcon/IconBackground.xml" density="xxhdpi" foreground="assets/AppIcon/IconForeground.xml" src="assets/AppIcon/LegacyIcon.xml"/>
		<icon background="assets/AppIcon/IconBackground.xml" density="xxxhdpi" foreground="assets/AppIcon/IconForeground.xml" src="assets/AppIcon/LegacyIcon.xml"/>
	</platform>

</widget>
